
header{
    display: block;
    background-color: rgb(255, 153, 0);
    padding: 1em;
    border-radius: 12px;
    text-align: center;
}

.content{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: white;
}

footer{
    display: block;
    background-color: orange;
    padding: 1em;
    border-radius: 12px;
    text-align: center;
}

main{
    display: flex;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

main section {
	margin: 0.5rem;
	padding: 0 1rem;
    background-color: rgb(109, 100, 126);
    text-align: center;
    flex: 1 1 250px; 
    flex: 0 1 250px; 
    margin: 5px;
    align-items: flex-start;
}
main section img {
    height: auto;
    border: 1px solid #bbb;
}

a:hover{
    color:orange;
}

a:link{
    color: blue;
}


